@import "Properties.css";

.leftPane{
    -fx-background-color: -fx-white;
}

.rightPane{
    -fx-background-color: linear-gradient(to bottom, -fx-blue, -fx-lightBlue);
}

.continueButton{
    -fx-background-color: none;
    -fx-border-width: 2px;
    -fx-border-color: -fx-darkBlue;
    -fx-border-radius: 5%;

    -fx-text-fill: -fx-darkBlue;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.continueButton .ikonli-font-icon{
    -fx-icon-color: -fx-darkBlue;
}
.continueButton .mfx-ripple-generator{
    -mfx-ripple-color: -fx-blue;
}
.continueButton:hover{
    -fx-text-fill: -fx-blue;
    -fx-border-color: -fx-blue;
}
.continueButton:hover .ikonli-font-icon{
    -fx-icon-color: -fx-blue;
}

.loginFields{
    -fx-background-color: none;

    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-color: -fx-darkBlue;

    -fx-text-fill: -fx-darkBlue;
    -fx-font-size: 14;
    -fx-font-weight: bold;

    -mfx-float-mode: BORDER;
}
.loginFields .floating-text{
    -fx-text-fill: -fx-darkBlue;
}
.loginFields .mfx-ripple-generator{
    -mfx-ripple-color: -fx-lightBlue;
}
.loginFields:focus-within{
    -fx-border-color: -fx-blue;
    -fx-text-fill: -fx-blue;
}
.loginFields:focus-within .floating-text{
    -fx-background-color: transparent;

    -fx-text-fill: -fx-blue;
}

.checkBox{
    -fx-text-fill: -fx-darkBlue;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.checkBox .ripple-container .mfx-ripple-generator{
    -mfx-ripple-color: -fx-lightBlue;
}
.checkBox:selected .box{
    -fx-background-color: -fx-blue;

    -fx-border-color: -fx-darkblue;
}